/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:      #444444;
$color-white:      #ffffff;
$color-grey:       #dddddd;
$color-light:      #f9f9f9;
$color-light-grey: #eeeeee;
$color-primary:    #E3051B;
$color-secondary:  #303c4a;

// Notifications
$color-danger:  #E3051B;
$color-success: green;
$color-info:    blue;

