/**
 * -----------------------------------------------------------------------------
 * File: components/logo
 * -----------------------------------------------------------------------------
 */

.logo {
  display: block;

  svg {
    display: block;
    height: auto;
    max-width: 200px;
    width: 100%;
  }
}